.container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    align-items: center;
}

.firstSection {
    background-image: url("../../assets/Resume.png");
    background-size: 440px 80px;
    width: 440px;
    height: 80px;
    text-align: center;
}

.firstSection > p {
    font-family: "Poppins";
    font-size: 48px;
    line-height: 56px;
    font-weight: 800;
}

.belowSection {
    display: flex;
    gap: 1rem;
}

.card {
    box-sizing: border-box;
    padding: 24px 54px;
    width: 427px;
    height: auto;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #1A1A1A;
}

.card div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.duration {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #FAB937;
}

.role {
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    color: #FFFFFF;
}

.firm {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.jobDesc {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .firstSection {
        background-size: 250px 65px;
        width: 250px;
        height: 65px;
    }

    .firstSection > p {
        font-size: 25px;
        line-height: 30px;
    }

    .belowSection {
        flex-direction: column;
    }

    .card {
        width: 270px;
        padding: 15px 25px;
    }

    .card > ul {
        display: grid;
        gap: 10px;
    }

    .role {
        font-size: 15px;
    }

    .firm {
        font-size: 15px;
    }

    .jobDesc {
        font-size: 13px;
        line-height: 20px;
    }
}