.container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
}

.firstSection {
    background-image: url("../../assets/Resume.png");
    background-size: 440px 80px;
    width: 440px;
    height: 80px;
    text-align: center;
}

.firstSection > p {
    font-family: "Poppins";
    font-size: 48px;
    line-height: 56px;
    font-weight: 800;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .firstSection {
        background-size: 250px 65px;
        width: 250px;
        height: 65px;
    }

    .firstSection > p {
        font-size: 25px;
        line-height: 30px;
    }
}